<header>
	<nav class="navbar p-9">
		<div class="navbar-container container">
			<input type="checkbox" name="" id=""/>
			<div class="hamburger-lines">
				<span class="line line1"></span>
				<span class="line line2"></span>
				<span class="line line3"></span>
			</div>


			<img src="{{ asset('images/logo.png') }}" class="w-[250px] object-contain md:-translate-y-[70px] h-[200px]" alt="Hero Section Image"/>
			<ul class="menu-items flex text-[25px] items-center justify-between overflow-hidden ">
		<div class="flex items-center col jusity-between">
    		<li class="center">
					<a href="{{ route('home') }}" class="text-[25px] ">الرئيسية</a>
				</li>
				<li class="center">
					<a href="{{ route('products') }}" class="text-[25px] center">الملابس</a>
				</li>
				<li class="center">
					<a href="{{ route('products') }}" class="text-[25px] center">العطور</a>
				</li>
				<li class="center">
					<a href="{{ route('products') }}" class="text-[25px] center">النظارات</a>
				</li>
				<li class="ml-[50px] center">
					<a href="{{ route('products') }}" class="text-[25px] center">الاحذية</a>
				</li>
        <li>	
</div>
        <div class="list-none !flex gap-[20px] p-[20px]">
					<div>
						<svg width="47" height="47" viewbox="0 0 47 47" class="nav-icon" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="23.5" cy="23.5" r="23.5" fill="#232120"/>
							<path d="M29.5724 28.1106L34 32.5372L32.5372 34L28.1106 29.5724C26.4635 30.8927 24.4149 31.6109 22.3039 31.6079C17.1682 31.6079 13 27.4397 13 22.3039C13 17.1682 17.1682 13 22.3039 13C27.4397 13 31.6079 17.1682 31.6079 22.3039C31.6109 24.4149 30.8927 26.4635 29.5724 28.1106ZM27.4986 27.3436C28.8103 25.9942 29.543 24.1858 29.5403 22.3039C29.5403 18.3063 26.3015 15.0675 22.3039 15.0675C18.3063 15.0675 15.0675 18.3063 15.0675 22.3039C15.0675 26.3015 18.3063 29.5403 22.3039 29.5403C24.1858 29.543 25.9942 28.8103 27.3436 27.4986L27.4986 27.3436Z" fill="#232120"/>
						</svg>
					</div>
					<div>
						<svg width="47" height="47" class="nav-icon" viewbox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="23.5" cy="23.5" r="23.5" fill="#232120"/>
							<path d="M19 15C16.239 15 14 17.216 14 19.95C14 22.157 14.875 27.395 23.488 32.69C23.6425 32.7833 23.8195 32.8327 24 32.8327C24.1805 32.8327 24.3575 32.7833 24.512 32.69C33.126 27.395 34 22.157 34 19.95C34 17.216 31.761 15 29 15C26.239 15 24 18 24 18C24 18 21.761 15 19 15Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					
          <div>
						<svg width="47" height="47" class="nav-icon" viewbox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="23.5" cy="23.5" r="23.5" fill="#232120"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M19.821 13.7917C20.1477 13.1033 20.8512 12.625 21.6667 12.625H26.3333C27.1477 12.625 27.8512 13.1033 28.179 13.7917C28.9758 13.7987 29.5977 13.8348 30.153 14.0518C30.8159 14.3112 31.3925 14.7518 31.8167 15.3235C32.2448 15.8987 32.4455 16.6383 32.722 17.6545L32.7652 17.8132L33.4535 20.3413C33.9125 20.5729 34.3148 20.9027 34.6318 21.3073C35.3575 22.2372 35.4858 23.3443 35.3575 24.6137C35.2315 25.8457 34.8442 27.3973 34.3588 29.3398L34.3273 29.4623C34.0205 30.6908 33.7708 31.6883 33.4757 32.4665C33.1653 33.2785 32.7733 33.9435 32.1258 34.4487C31.4795 34.9538 30.7387 35.172 29.8765 35.277C29.0493 35.375 28.0215 35.375 26.7557 35.375H21.2443C19.9785 35.375 18.9495 35.375 18.1235 35.2758C17.2602 35.1732 16.5205 34.9538 15.873 34.4475C15.2267 33.9435 14.8347 33.2785 14.5243 32.4665C14.228 31.6883 13.9795 30.6908 13.6727 29.4623L13.6412 29.3398C13.1558 27.3973 12.7673 25.8457 12.6425 24.6148C12.5142 23.3432 12.6425 22.2372 13.367 21.3073C13.6972 20.885 14.0927 20.5723 14.5453 20.3413L15.2337 17.8132L15.278 17.6545C15.5545 16.6383 15.7552 15.8987 16.1833 15.3223C16.6077 14.7511 17.1842 14.3108 17.847 14.0518C18.4023 13.8348 19.023 13.7975 19.821 13.7917ZM19.8222 15.5452C19.0498 15.5533 18.7407 15.5825 18.484 15.6828C18.127 15.8225 17.8164 16.0598 17.588 16.3677C17.3827 16.6442 17.2613 17.0303 16.923 18.2752L16.51 19.7872C17.721 19.625 19.2843 19.625 21.2257 19.625H26.7732C28.7157 19.625 30.279 19.625 31.4888 19.7872L31.077 18.274C30.7375 17.0292 30.6173 16.643 30.412 16.3665C30.1836 16.0586 29.873 15.8213 29.516 15.6817C29.2593 15.5813 28.949 15.5522 28.1767 15.544C28.0108 15.8924 27.7497 16.1867 27.4234 16.3928C27.0972 16.5989 26.7192 16.7083 26.3333 16.7083H21.6667C21.2808 16.7083 20.9028 16.5989 20.5766 16.3928C20.2503 16.1867 19.9892 15.8924 19.8233 15.544M21.6667 14.375C21.5893 14.375 21.5151 14.4057 21.4604 14.4604C21.4057 14.5151 21.375 14.5893 21.375 14.6667C21.375 14.744 21.4057 14.8182 21.4604 14.8729C21.5151 14.9276 21.5893 14.9583 21.6667 14.9583H26.3333C26.4107 14.9583 26.4849 14.9276 26.5396 14.8729C26.5943 14.8182 26.625 14.744 26.625 14.6667C26.625 14.5893 26.5943 14.5151 26.5396 14.4604C26.4849 14.4057 26.4107 14.375 26.3333 14.375H21.6667ZM16.65 21.5337C15.5883 21.6877 15.0738 21.9677 14.7483 22.3853C14.4217 22.8018 14.2758 23.3677 14.3843 24.4363C14.4952 25.5283 14.851 26.9563 15.3573 28.9863C15.6817 30.279 15.9057 31.175 16.1623 31.8447C16.4073 32.491 16.6488 32.8328 16.9522 33.0697C17.2543 33.3053 17.644 33.4558 18.3323 33.5387C19.044 33.6238 19.9657 33.625 21.3003 33.625H26.702C28.0355 33.625 28.9595 33.6238 29.67 33.5387C30.3583 33.457 30.748 33.3053 31.0502 33.0697C31.3535 32.8328 31.5938 32.491 31.8412 31.8447C32.0955 31.175 32.3207 30.279 32.6438 28.9863C33.1513 26.9563 33.5072 25.5283 33.6168 24.4363C33.7265 23.3677 33.5795 22.8007 33.254 22.3842C32.9285 21.9677 32.414 21.6877 31.3512 21.5337C30.2662 21.3773 28.7938 21.375 26.702 21.375H21.3003C19.2085 21.375 17.7362 21.3773 16.6512 21.5337" fill="white"/>
						</svg>
					</div>
				</div></li>
			</ul>
			
      </div>
		</nav>
	</header>
