{% extends 'layout/layout.twig' %}

{% block title %}من نحن
{% endblock %}

{% block content %}


	<div class="flex items-center mt-[150px] flex-wrap mr-[80px] md:mr-[20px] justify-start">
		<div class="flex items-center  gap-[20px]">
			<p class="text-[white] text-[26px] font-[400] ">الرئيسية</p>
			<svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.6">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5001 23.3333L8.16675 14L17.5001 4.66666L19.8334 6.99999L12.8334 14L19.8334 21L17.5001 23.3333Z" fill="#D9D9D9" fill-opacity="0.72"/>
				</g>
			</svg>
		</div>
		<div class="flex items-center  gap-[20px]">
			<p class="text-[white] text-[26px] font-[400]  ">الاحذية</p>
			<svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.6">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M17.5001 23.3333L8.16675 14L17.5001 4.66666L19.8334 6.99999L12.8334 14L19.8334 21L17.5001 23.3333Z" fill="#D9D9D9" fill-opacity="0.72"/>
				</g>
			</svg>
		</div>
		<p class="text-[white] text-[26px] font-[400] ">الاحذية الرجالية</p>
	</div>
	<div class="flex items-center justify-center">
		<div class="w-[50%] flex "></div>
		<div class="w-[50%]"></div>
	</div>

	<div class="flex justify-start items-start lg:flex-col-reverse">

		<div
			class="gallery-container w-[785px] md:items-center md:justify-center md:flex md:w-full md:flex-col-reverse mt-[50px]">
			<!-- الصور المصغرة (عمودي) -->
			<div class="swiper thumbs-slider max-h-[530px] md:!w-full !m-0 md:!mt-[20px] !w-[150px]">
				<div class="swiper-wrapper">
					<div class="swiper-slide !w-[110px] !h-[92px]"><img class="w-full h-full" src="{{ asset('images/shoose1.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose2.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose3.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>
					<div class="swiper-slide !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>

					<!-- … المزيد -->
				</div>
			</div>
			<!-- الصورة الكبيرة -->
			<div class="swiper main-slider !w-[633px] !h-[544px] md:!w-full md:mx-[20px] rounded-[25px] product-shadow">
				<div class="swiper-wrapper">
					<div class="swiper-slide !w-full rounded-[25px]"><img src="{{ asset('images/shoose1.png') }}" alt=""></div>
					<div class="swiper-slide !w-full !h-[544px] rounded-[25px]"><img src="{{ asset('images/shoose2.png') }}" alt=""></div>
					<div class="swiper-slide !w-full !h-[544px] rounded-[25px]"><img src="{{ asset('images/shoose3.png') }}" alt=""></div>
					<div class="swiper-slide !w-full !h-[544px] rounded-[25px]"><img src="{{ asset('images/shoose4.png') }}" alt=""></div>

					<!-- … المزيد -->
				</div>
				<!-- اختياري: أزرار تنقل -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>


		</div>
		<div class="mr-[40px] pt-[60px] md:mr-2">

			<p class="text-[26px] text-start font-[700] text-[white] ">
				حذاء جري رجالي خفيف بنقشة عصرية وراحة مثالية – فيروزي وبيج
			</p>
			<p class=" text-[#D9D9D9] font-[400] text-[15px] text-start ">
				حذاء جري رجالي خفيف بنقشة عصرية وراحة مثالية......
			</p>
			<p class="text-[22px] mt-[20px] text-[white]">
				<span class="font-[700] ">اللون</span>
				: بني</p>

			<div class="flex gap-[20px] mt-[20px] items-center justify-start">
				<div class=" !w-[110px] !h-[92px]"><img src="{{ asset('images/shoose1.png') }}" alt=""></div>
				<div class=" !w-[110px] !h-[92px]"><img src="{{ asset('images/blackshoose.png') }}" alt=""></div>
				<div class=" !w-[110px] !h-[92px]"><img src="{{ asset('images/whiteshoose.png') }}" alt=""></div>
			</div>
			<p class="text-[22px] font-[700] text-[white] mt-[60px]">القياس:
			</p>
			<!-- Container عام -->
			<div class="flex flex-col">

				<div
					class="relative select-single mt-[20px] text-[26px] rounded-[16px] font-[700] text-[white] w-[360px] h-[56px] ">
					<!-- الـ select -->
					<select class="block w-full
									 bg-[#373232]
												     border border-white
										rounded-lg
									  py-3 px-4
									  text-[20px]
										text-center
									text-white
										appearance-none
										focus:outline-none">
						<option value="" disabled selected>اختر القياس</option>
						<option>XS</option>
						<option>S</option>
						<option>M</option>
						<option>L</option>
						<option>XL</option>
					</select>

					<!-- السهم -->
					<div class="pointer-events-none absolute inset-y-0 left-[20px] flex items-center pr-3">
						<svg width="22" height="22" viewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g opacity="0.6">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M18.3333 8.24998L10.9999 15.5833L3.66658 8.24998L5.49992 6.41665L10.9999 11.9166L16.4999 6.41665L18.3333 8.24998Z" fill="white" fill-opacity="0.72"/>
							</g>
						</svg>

					</div>
				</div>


				<button class="btn-slider text-[26px] mt-[40px] font-[700] text-[white] w-[358px] h-[75px] rounded-[16px]">
					اضف الى السلة
				</button>
			</div>

		</div>
	</div>
<p class="text-[white] font-[700] text-[26px] mt-[100px]">
تفاصيل المنتج:
</p>
<p class="text-[white] font-[200] text-[20px] max-w-[40%] mt-[20px] ">
حذاء جري رجالي بتصميم خفيف ومريح – حذاء رياضي بنقشة حروف، الجزء العلوي من القماش والنعل من مادة TPU، مع توسيد EVA لراحة القدم أثناء التمارين، الجري، والاستخدام اليومي – باللونين الأخضر الفيروزي والبيج، تصميم متعدد الاستخدامات | حذاء برباط | حذاء بنعل قماشي علوي
</p>
<p class="text-[white] font-[700] text-[26px] mt-[100px]">
تفاصيل المنتج:
</p>

	<swiper-container class=" mt-[30px] relative " slides-per-view="2" centered-slides="true" loop="true" space-between="100" effect="coverflow" coverflow-effect-rotate="0" coverflow-effect-stretch="0" coverflow-effect-depth="150" coverflow-effect-modifier="1" coverflow-effect-slideshadows="false" breakpoints='{
									    "320":  { "slidesPerView": 1, "spaceBetween": 10,  "centeredSlides": false },
									    "640":  { "slidesPerView": 1, "spaceBetween": 20 },
									    "768":  { "slidesPerView": 2, "spaceBetween": 0  },
									    "1024": { "slidesPerView": 2, "spaceBetween": 160 }
									  }'>
		<swiper-slide class="w-[540px]  justify-start rounded-[15px] flex flex-col h-[350px] slide">
			<div class=" flex items-center mt-[30px] justify-between w-full ">
				<div class="flex gap-[10px] items-center justify-center mr-[20px]">
					<img src="./images/person.png" class="w-[66px] h-[66px]" alt="">
					<p class="text-[39px] font-[700] text-[white]">ليلى محمد</p>
				</div>
				<div>
					<svg width="145" class="ml-[20px]" height="29" viewbox="0 0 145 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M72.5 0L75.7129 9.8885H86.1103L77.6987 15.9999L80.9116 25.8884L72.5 19.777L64.0883 25.8884L67.3013 15.9999L58.8896 9.8885H69.287L72.5 0Z" fill="#FDCD53"/>
						<path d="M101.595 0L104.808 9.8885H115.205L106.793 15.9999L110.006 25.8884L101.595 19.777L93.1829 25.8884L96.3959 15.9999L87.9842 9.8885H98.3816L101.595 0Z" fill="#FDCD53"/>
						<path d="M130.689 0L133.902 9.8885H144.3L135.888 15.9999L139.101 25.8884L130.689 19.777L122.278 25.8884L125.491 15.9999L117.079 9.8885H127.476L130.689 0Z" fill="#FDCD53"/>
						<path d="M43.4053 0L46.6183 9.8885H57.0157L48.604 15.9999L51.817 25.8884L43.4053 19.777L34.9937 25.8884L38.2066 15.9999L29.795 9.8885H40.1924L43.4053 0Z" fill="#FDCD53"/>
						<path d="M14.3108 0L17.5237 9.8885H27.9211L19.5095 15.9999L22.7224 25.8884L14.3108 19.777L5.89911 25.8884L9.11208 15.9999L0.700418 9.8885H11.0978L14.3108 0Z" fill="#FDCD53"/>
					</svg>

				</div>
			</div>
			<p class="text-[white] px-[20px] text-[30px] mt-[25px] text-start">الخدمة كانت أكثر من رائعة! التعامل راقٍ والتجاوب سريع، والتجربة ككل فاقت توقعاتي. أنصح بها بكل ثقة</p>
		</swiper-slide>
		<swiper-slide class="w-[540px]  justify-start rounded-[15px] flex flex-col h-[350px] slide">
			<div class=" flex items-center mt-[30px] justify-between w-full ">
				<div class="flex gap-[10px] items-center justify-center mr-[20px]">
					<img src="./images/person.png" class="w-[66px] h-[66px]" alt="">
					<p class="text-[39px] font-[700] text-[white]">ليلى محمد</p>
				</div>
				<div>
					<svg width="145" class="ml-[20px]" height="29" viewbox="0 0 145 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M72.5 0L75.7129 9.8885H86.1103L77.6987 15.9999L80.9116 25.8884L72.5 19.777L64.0883 25.8884L67.3013 15.9999L58.8896 9.8885H69.287L72.5 0Z" fill="#FDCD53"/>
						<path d="M101.595 0L104.808 9.8885H115.205L106.793 15.9999L110.006 25.8884L101.595 19.777L93.1829 25.8884L96.3959 15.9999L87.9842 9.8885H98.3816L101.595 0Z" fill="#FDCD53"/>
						<path d="M130.689 0L133.902 9.8885H144.3L135.888 15.9999L139.101 25.8884L130.689 19.777L122.278 25.8884L125.491 15.9999L117.079 9.8885H127.476L130.689 0Z" fill="#FDCD53"/>
						<path d="M43.4053 0L46.6183 9.8885H57.0157L48.604 15.9999L51.817 25.8884L43.4053 19.777L34.9937 25.8884L38.2066 15.9999L29.795 9.8885H40.1924L43.4053 0Z" fill="#FDCD53"/>
						<path d="M14.3108 0L17.5237 9.8885H27.9211L19.5095 15.9999L22.7224 25.8884L14.3108 19.777L5.89911 25.8884L9.11208 15.9999L0.700418 9.8885H11.0978L14.3108 0Z" fill="#FDCD53"/>
					</svg>

				</div>
			</div>
			<p class="text-[white] px-[20px] text-[30px] mt-[25px] text-start">الخدمة كانت أكثر من رائعة! التعامل راقٍ والتجاوب سريع، والتجربة ككل فاقت توقعاتي. أنصح بها بكل ثقة</p>
		</swiper-slide>


		<swiper-slide class="w-[540px]  justify-start rounded-[15px] flex flex-col h-[350px] slide">
			<div class=" flex items-center mt-[30px] justify-between w-full ">
				<div class="flex gap-[10px] items-center justify-center mr-[20px]">
					<img src="./images/person.png" class="w-[66px] h-[66px]" alt="">
					<p class="text-[39px] font-[700] text-[white]">ليلى محمد</p>
				</div>
				<div>
					<svg width="145" class="ml-[20px]" height="29" viewbox="0 0 145 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M72.5 0L75.7129 9.8885H86.1103L77.6987 15.9999L80.9116 25.8884L72.5 19.777L64.0883 25.8884L67.3013 15.9999L58.8896 9.8885H69.287L72.5 0Z" fill="#FDCD53"/>
						<path d="M101.595 0L104.808 9.8885H115.205L106.793 15.9999L110.006 25.8884L101.595 19.777L93.1829 25.8884L96.3959 15.9999L87.9842 9.8885H98.3816L101.595 0Z" fill="#FDCD53"/>
						<path d="M130.689 0L133.902 9.8885H144.3L135.888 15.9999L139.101 25.8884L130.689 19.777L122.278 25.8884L125.491 15.9999L117.079 9.8885H127.476L130.689 0Z" fill="#FDCD53"/>
						<path d="M43.4053 0L46.6183 9.8885H57.0157L48.604 15.9999L51.817 25.8884L43.4053 19.777L34.9937 25.8884L38.2066 15.9999L29.795 9.8885H40.1924L43.4053 0Z" fill="#FDCD53"/>
						<path d="M14.3108 0L17.5237 9.8885H27.9211L19.5095 15.9999L22.7224 25.8884L14.3108 19.777L5.89911 25.8884L9.11208 15.9999L0.700418 9.8885H11.0978L14.3108 0Z" fill="#FDCD53"/>
					</svg>

				</div>
			</div>
			<p class="text-[white] px-[20px] text-[30px] mt-[25px] text-start">الخدمة كانت أكثر من رائعة! التعامل راقٍ والتجاوب سريع، والتجربة ككل فاقت توقعاتي. أنصح بها بكل ثقة</p>
		</swiper-slide>

		<swiper-slide class="w-[540px]  justify-start rounded-[15px] flex flex-col h-[350px] slide">
			<div class=" flex items-center mt-[30px] justify-between w-full ">
				<div class="flex gap-[10px] items-center justify-center mr-[20px]">
					<img src="./images/person.png" class="w-[66px] h-[66px]" alt="">
					<p class="text-[39px] font-[700] text-[white]">ليلى محمد</p>
				</div>
				<div>
					<svg width="145" class="ml-[20px]" height="29" viewbox="0 0 145 29" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M72.5 0L75.7129 9.8885H86.1103L77.6987 15.9999L80.9116 25.8884L72.5 19.777L64.0883 25.8884L67.3013 15.9999L58.8896 9.8885H69.287L72.5 0Z" fill="#FDCD53"/>
						<path d="M101.595 0L104.808 9.8885H115.205L106.793 15.9999L110.006 25.8884L101.595 19.777L93.1829 25.8884L96.3959 15.9999L87.9842 9.8885H98.3816L101.595 0Z" fill="#FDCD53"/>
						<path d="M130.689 0L133.902 9.8885H144.3L135.888 15.9999L139.101 25.8884L130.689 19.777L122.278 25.8884L125.491 15.9999L117.079 9.8885H127.476L130.689 0Z" fill="#FDCD53"/>
						<path d="M43.4053 0L46.6183 9.8885H57.0157L48.604 15.9999L51.817 25.8884L43.4053 19.777L34.9937 25.8884L38.2066 15.9999L29.795 9.8885H40.1924L43.4053 0Z" fill="#FDCD53"/>
						<path d="M14.3108 0L17.5237 9.8885H27.9211L19.5095 15.9999L22.7224 25.8884L14.3108 19.777L5.89911 25.8884L9.11208 15.9999L0.700418 9.8885H11.0978L14.3108 0Z" fill="#FDCD53"/>
					</svg>

				</div>
			</div>
			<p class="text-[white] px-[20px] text-[30px] mt-[25px] text-start">الخدمة كانت أكثر من رائعة! التعامل راقٍ والتجاوب سريع، والتجربة ككل فاقت توقعاتي. أنصح بها بكل ثقة</p>
		</swiper-slide>


		<svg width="821" class="absolute bottom-[-100%] right-[1300px]" height="821" viewbox="0 0 821 821" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g filter="url(#filter0_f_1_64)">
				<circle cx="410.5" cy="410.5" r="310.5" fill="url(#paint0_radial_1_64)"/>
			</g>
			<defs>
				<filter id="filter0_f_1_64" x="0" y="0" width="821" height="821" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feGaussianBlur stddeviation="50" result="effect1_foregroundBlur_1_64"/>
				</filter>
				<radialGradient id="paint0_radial_1_64" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(410.5 410.5) rotate(90) scale(310.5)">
					<stop stop-color="#1C4FAF" stop-opacity="0.3"/>
					<stop offset="1" stop-color="#B2BDC6" stop-opacity="0"/>
				</radialGradient>
			</defs>
		</svg>
		<svg width="596" class="absolute bottom-[-56%] left-[-1200px]" height="596" viewbox="0 0 596 596" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g filter="url(#filter0_f_1_63)">
				<circle cx="298" cy="298" r="198" fill="url(#paint0_radial_1_63)"/>
			</g>
			<defs>
				<filter id="filter0_f_1_63" x="0" y="0" width="596" height="596" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feGaussianBlur stddeviation="50" result="effect1_foregroundBlur_1_63"/>
				</filter>
				<radialGradient id="paint0_radial_1_63" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(298 298) rotate(90) scale(198)">
					<stop stop-color="#1C4FAF" stop-opacity="0.3"/>
					<stop offset="1" stop-color="#B2BDC6" stop-opacity="0"/>
				</radialGradient>
			</defs>
		</svg>

	</swiper-container>

	 <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // ثبّت direction بناءً على breakpoints
      const thumbs = new Swiper('.thumbs-slider', {
        slidesPerView: 4,
        spaceBetween: 10,
        watchSlidesProgress: true,
        breakpoints: {
          // من 0 إلى 991px: عمودي
          0: {
            direction: 'horizontal'
          },
          // من 992px فما فوق: أفقي
          992: {
            direction: 'vertical'
          }
        }
      });

      // السلايدر الرئيسي مربوط بالـ thumbs
      new Swiper('.main-slider', {
        spaceBetween: 10,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        thumbs: {
          swiper: thumbs
        }
      });
    });
  </script>

	 <script>
					const sliderarr =[[
					  {}
					],[],[]]
					      </script>


{% endblock %}
